<!DOCTYPE html>
<html lang="uk">
<head>
    <style>
        .custom-navbar-brand {
            color: #0000FF;
        }

        .fixed-contact {
            position: fixed;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            padding: 10px;
            border-radius: 10px 0 0 0;
        }

        .navbar-light .navbar-nav .nav-link {
            color: #ffffff;
        }

            .navbar-light .navbar-nav .nav-link:hover {
                color: #cccccc;
            }

    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_slate.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryWebApplication1.styles.css" asp-append-version="true" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-gray border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha384-1jjRctHyUcm6qf0qaBbm1BuUu4u75L3bGNV3CP5Tq8M+KjxF5NHbBjcJhQ0iGxro" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgP2Hfkh5OfgZj35P5gaIfbGOvxrL3lvMZ8lUnmpx6vf2O8Uq8" crossorigin="anonymous"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <div class="fixed-contact">
        <h5>Контакти автора проекту</h5>
        <p>Пошта: deniskozurak0@gmail.com</p>
        <p>Телефон: +38(098)-640-41-69</p>
    </div>
</body>
</html>