﻿@{
    ViewData["Title"] = "Лабораторна робота з веб-програмування";
}
<h1>Лабораторна робота з веб-програмування</h1>
<h4>У цьому проекті ви зможете створювати, переглядати, редагувати та видаляти</h4>
<h4>екземпляри трьох пов'язаних сутностей предметної області "Мережева газета"</h4>
<h4>Щоб перейти на сторінку, що відповідає конкретній сутності, оберіть вкладку з її назвою вгорі сторінки</h4>
<h4>Сторінки, що відповідають сутностям, містять таблиці із значеннями атрибутів наявних екземплярів</h4>
<h4>Щоб створити новий екземпляр сутності, оберіть опцію "Create new" вгорі сторінки</h4>
<h4>Для редагування чи видалення конкретного екземпляра оберіть опцію "Edit" чи "Delete" біля нього</h4>
<h4>Щоб повернутись на головну сторінку, оберіть вкладку "Home" вгорі сторінки</h4>